html {
  scroll-behavior: smooth;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
#headerLeft {
  background-color: #022147;
}
#header {
  height: 878px;
  width: 1800px;
  margin: 60px 60px;
}

#about {
}

.headingText {
  color: white;
  font-size: 80px;
  margin-top: 15%;
  text-align: center;
}
.underline {
  border-bottom: solid 1px #ee2938;
  width: 77px;
}
.headingSubText {
  color: white;
  font-family: "Muli", Georgia, sans-serif;
  font-size: 18px;
  font-weight: 200;
}

.readMore {
  font-family: "Muli", Georgia, sans-serif;
  font-size: 17px;
  font-weight: 200;
  width: 157px;
  height: 48px;
  border: none;
  color: white;
  background-color: #ee2938;
  text-align: center;
}
.positionRelative {
  position: relative;
}
.headingImg {
  width: 95%;
  height: auto;
}
.aboutImg {
  width: 100%;
}
.sectionTitle {
  color: #022147;
  font-size: 60px;
}
.aboutSindhiTopImg {
  width: 100%;
  top: 70%;
  right: 48px;
  z-index: 1;
  position: absolute;
}
.aboutContent {
  color: #777777;
  font-family: "Muli", Georgia, sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.specialAboutTitle {
  position: absolute;
  color: #adadad;
  font-size: 120pt;
  font-weight: 700;
  font-family: "Poppins", Georgia, sans-serif;
  bottom: 75%;
  z-index: -1;
  opacity: 0.07;
}

.sectionPadding {
  padding-top: 50px;
  padding-bottom: 200px;
}
